@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="padding">
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="title">
            <div class="header">Unit Conversion</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="padding2">

    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="conversion">
            <div class="subheader">I want to convert...</div>
            <p></p>
            <div class="body">
                <p><a href="@Url.Action("MilesToFathoms", "MilesToFathoms" )" class="elements">Miles to Fathoms</a></p>
                <p><a href="@Url.Action("MetersToFeet", "MetersToFeet" )" class="elements">Meters to Feet</a></p>
                <p><a href="@Url.Action("CelsiusToFahren", "CelsiusToFahren" )" class="elements">Celsius to Fahrenheit</a></p>             
                <p><a href="@Url.Action("CentToInch", "CentToInch" )" class="elements">Cent To Inch</a></p>    
                <p><a href="@Url.Action("DollarToEuro", "DollarToEuro" )" class="elements">Dollars to Euros</a></p>
            </div>
        </div>
    </div>
</div>

